In [86]:
import re
import pandas as pd
import numpy as np
pd.set_option("display.max_colwidth", 800)

In [87]:
df = pd.read_parquet("cleaned_bible_df.parquet")

In [88]:
df.head(5)

,book_chapter_verse,verse_text
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n"
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n"
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n"
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n

In [89]:
def remove_html_tags(row):
    row = re.sub("<H4>.*</H4>", "", row)
    row = re.sub("<span.*</span>", "", row)
#     row = re.sub('[”“]', "'", row)
    row = re.sub("\n", "", row)
    return row

In [90]:
df['cleaned_verse_text'] = df['verse_text'].apply(lambda x: remove_html_tags(x))

In [91]:
df.head(5)

,book_chapter_verse,verse_text,cleaned_verse_text
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n","पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।"
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n","अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।"
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n","र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।"
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।

In [92]:
df['verse'] = df['book_chapter_verse'].apply(lambda x: x.split(':')[-1])
df['book_chapter'] = df['book_chapter_verse'].apply(lambda x: x.split(':')[0])

In [93]:
df.head(5)

,book_chapter_verse,verse_text,cleaned_verse_text,verse,book_chapter
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।,1,Gen1
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n","पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।",2,Gen1
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n","अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।",3,Gen1
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n","र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।",4,Gen1
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।,5,Gen1

In [94]:
def chapter_extractor(row):
    """This function returns ('Gen', '1') if book_chapter is "Gen1".
    """
    digits = list("0123456789") # digits = ['0', '1', '2', ..., '9']
    
    if row[-2] not in digits: 
        return (row[:-1], row[-1])
    elif row[-3] not in digits:
        return (row[:-2], row[-2:])
    elif row[-4] not in digits:
        return (row[:-3], row[-3:])
    else:
        return (np.pan, np.nan)

In [95]:
df['book_chapter'] = df['book_chapter'].apply(lambda x: chapter_extractor(x))
df['book'] = df['book_chapter'].apply(lambda x: x[0])
df['chapter'] = df['book_chapter'].apply(lambda x: x[1])

In [96]:
df.head(5)

,book_chapter_verse,verse_text,cleaned_verse_text,verse,book_chapter,book,chapter
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।,1,"(Gen, 1)",Gen,1
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n","पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।",2,"(Gen, 1)",Gen,1
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n","अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।",3,"(Gen, 1)",Gen,1
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n","र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।",4,"(Gen, 1)",Gen,1
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।,5,"(Gen, 1)",Gen,1

In [97]:
df['book'].unique()

array(['Gen', 'Exo', 'Lev', 'Num', 'Deu', 'Jos', 'Jug', 'Rut', '1Sa',
       '2Sa', '1Ki', '2Ki', '1Ch', '2Ch', 'Ezr', 'Neh', 'Est', 'Job',
       'Psm', 'Pro', 'Ecc', 'Son', 'Isa', 'Jer', 'Lam', 'Eze', 'Dan',
       'Hos', 'Joe', 'Amo', 'Oba', 'Jon', 'Mic', 'Nah', 'Hab', 'Zep',
       'Hag', 'Zec', 'Mal', 'Mat', 'Mak', 'Luk', 'Jhn', 'Act', 'Rom',
       '1Co', '2Co', 'Gal', 'Eph', 'Phl', 'Col', '1Ts', '2Ts', '1Ti',
       '2Ti', 'Tit', 'Mon', 'Heb', 'Jas', '1Pe', '2Pe', '1Jn', '2Jn',
       '3Jn', 'Jud', 'Rev'], dtype=object)

In [98]:
bible_abbr_df = pd.read_csv("bible_abbreviations_final.csv")

In [99]:
bible_abbr_df.head(4)

   book_id  testament_id  book_name book_abbreviation
0        1             1    Genesis               Gen
1        2             1     Exodus                Ex
2        3             1  Leviticus               Lev
3        4             1    Numbers               Num

In [100]:
abbr_books_list = list(bible_abbr_df['book_abbreviation'].unique())
full_books_list = list(bible_abbr_df['book_name'].unique())
db_books_list = list(df['book'].unique())

In [101]:
books_abbr_mapping = pd.DataFrame({
    "abbr_books_format": abbr_books_list,
    "abbr_df_format": db_books_list,
    "full_book_name": full_books_list
})

In [102]:
books_abbr_mapping = books_abbr_mapping.set_index(pd.Index(list(range(1, 67)))).reset_index()

In [103]:
books_abbr_mapping.head(5)

   index abbr_books_format abbr_df_format full_book_name
0      1               Gen            Gen        Genesis
1      2                Ex            Exo         Exodus
2      3               Lev            Lev      Leviticus
3      4               Num            Num        Numbers
4      5              Deut            Deu    Deuteronomy

In [104]:
df.head(5)

,book_chapter_verse,verse_text,cleaned_verse_text,verse,book_chapter,book,chapter
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।,1,"(Gen, 1)",Gen,1
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n","पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।",2,"(Gen, 1)",Gen,1
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n","अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।",3,"(Gen, 1)",Gen,1
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n","र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।",4,"(Gen, 1)",Gen,1
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।,5,"(Gen, 1)",Gen,1

In [105]:
df = df.merge(books_abbr_mapping[['abbr_df_format', 'full_book_name', 'index']], left_on="book", right_on="abbr_df_format")

In [106]:
df.head(5)

,book_chapter_verse,verse_text,cleaned_verse_text,verse,book_chapter,book,chapter,abbr_df_format,full_book_name,index
0,Gen1:1,<H4>सृष्टिको वर्णन</H4>आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।\n,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।,1,"(Gen, 1)",Gen,1,Gen,Genesis,1
1,Gen1:2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।\n","पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।",2,"(Gen, 1)",Gen,1,Gen,Genesis,1
2,Gen1:3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। <span class=""note"" title=""२ कोर ४:६""> (note) </span>\n","अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।",3,"(Gen, 1)",Gen,1,Gen,Genesis,1
3,Gen1:4,"र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।\n","र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।",4,"(Gen, 1)",Gen,1,Gen,Genesis,1
4,Gen1:5,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।\n,परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।,5,"(Gen, 1)",Gen,1,Gen,Genesis,1

In [140]:
final_bible_df = df[['index', 'chapter', 'verse', 'cleaned_verse_text']]

In [141]:
final_bible_df.head(3)

,index,chapter,verse,cleaned_verse_text
0,1,1,1,आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।
1,1,1,2,"पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।"
2,1,1,3,"अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो।"

In [156]:
final_bible_df.loc[final_bible_df['verse'] == '\ufeff1']

,index,chapter,verse,cleaned_verse_text
16395,19,150,﻿1,"हल्लेलूयाह! परमप्रभुलाई उहाँको पवित्रस्थानमा प्रशंसा गर, उहाँको महिमामय आकाशमा उहाँको प्रशंसा गर!"

In [158]:
final_bible_df.to_csv("bible_cleaned_formatted_01.csv", index=False)

In [163]:
dtypes = {
    "index": int,
    "chapter": int,
    "verse": int,
    "cleaned_verse_text": str
}
final_bible_df = pd.read_csv("bible_cleaned_formatted_01.csv", dtype=dtypes, encoding="utf-8-sig")

ValueError: cannot safely convert passed user dtype of int32 for object dtyped data in column 2

In [153]:
final_bible_df.verse.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '\ufeff1'], dtype=object)

In [143]:
final_bible_df['chapter'] = final_bible_df['chapter'].map(int)

C:\Users\User\Anaconda3\envs\gmcny_project\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [144]:
final_bible_df['verse'] = final_bible_df['verse'].map(int)

ValueError: invalid literal for int() with base 10: '\ufeff1'

In [83]:
final_bible_df[:5].values

array([[1, '1', '1',
        'आदिमा परमेश्वरले आकाशमण्डल र पृथ्वी सृष्टि गर्नुभयो।'],
       [1, '1', '2',
        'पृथ्वी आकारविनाको र शून्य थियो। अथाह समुद्रमाथि अन्धकार थियो, र परमेश्वरका आत्मा पानीमाथि परिभ्रमण गर्दैरहनुहुन्थ्यो।'],
       [1, '1', '3',
        'अनि परमेश्वरले भन्नुभयो, “उज्यालो होस्।” तब उज्यालो भयो। '],
       [1, '1', '4',
        'र परमेश्वरले उज्यालोलाई हेर्नुभयो, त्यो असल थियो। उहाँले उज्यालो र अँध्यारोलाई अलग-अलग गर्नुभयो।'],
       [1, '1', '5',
        'परमेश्वरले उज्यालोलाई “दिन” र अँध्यारोलाई “रात” भन्नुभयो। साँझ पर्यो र बिहान भयो— पहिलो दिन।']],
      dtype=object)

In [48]:
# save as csv
final_bible_df.to_csv("bible_cleaned_formatted.csv", index=False, header=False)